.CodeMirror {
  height: auto;
}

.cm-s-dracula .CodeMirror-gutters,
.cm-s-dracula.CodeMirror {
  background-color: #1e1e1e !important;
}

.CodeMirror-gutters {
  padding-right: 15px;
}

/* Line number */
.cm-s-dracula .CodeMirror-linenumber {
  color: #606060;
}

/* Comment */
.cm-s-dracula span.cm-comment {
  color: #a9b7c6;
}

/* String */
.cm-s-dracula span.cm-string,
.cm-s-dracula span.cm-string-2 {
  color: #f1d086;
}

/* Number */
.cm-s-dracula span.cm-number {
  color: #f1d086;
}

/* Boolean  */
.cm-s-dracula span.cm-atom {
  color: #f1d086;
}

/* Variable */
.cm-s-dracula span.cm-variable {
  color: #7dc777;
}

/* Variable */
.cm-s-dracula span.cm-keyword {
  color: #7dc777;
}

/* Operators */
.cm-s-dracula span.cm-operator {
  color: #d46a60;
}

/* Operators */
.cm-custom-marker {
  color: #d46a60 !important;
}

/* Keyword */
.cm-custom-keyword {
  color: #d381cc !important;
}

/* Native function */
.cm-custom-native-function {
  color: #5aa3df !important;
}

/* Parenthesis */
.cm-custom-parenthesis {
  color: #dbffff !important;
}

/* Type */
.cm-custom-type {
  color: #ceb078 !important;
}

/* ============= Unused ============= */

/*.cm-s-dracula span.cm-variable-2 {
  color: #ff0000;
}

.cm-s-dracula span.cm-def {
  color: #00ff00;
}

.cm-s-dracula span.cm-meta {
  color: #f8f8f2;
}

.cm-s-dracula span.cm-tag {
  color: #ff79c6;
}

.cm-s-dracula span.cm-attribute {
  color: #50fa7b;
}

.cm-s-dracula span.cm-qualifier {
  color: #50fa7b;
}

.cm-s-dracula span.cm-property {
  color: #66d9ef;
}

.cm-s-dracula span.cm-builtin {
  color: #50fa7b;
}

.cm-s-dracula span.cm-type,.cm-s-dracula span.cm-variable-3 {
  color: #ffb86c;
}*/