.CodeMirror {
  height: auto;
}

.cm-s-dracula .CodeMirror-gutters,
.cm-s-dracula.CodeMirror {
  background-color: #1e1e1e !important;
}

.CodeMirror-gutters {
  padding-right: 15px;
}

.cm-s-dracula .CodeMirror-linenumber {
  color: #606060;
}

.cm-s-dracula span.cm-comment {
  color: #A9B7C6;
}

/********************************/

.cm-s-dracula span.cm-variable {
  color: #92DF8C;
}

.cm-s-dracula span.cm-number {
  color: #61aeec;
}

.cm-s-dracula span.cm-string,
.cm-s-dracula span.cm-string-2 {
  color: #f1d086;
}

.cm-s-dracula span.cm-operator {
  color: #DA7178;
}

.cm-s-dracula span.cm-atom {
  color: #bd93f9;
}

.cm-s-dracula span.cm-keyword {
  color: #ade290;
}

/* ============= Custom ============= */

.cm-custom-keyword {
  color: #ee9fe7 !important;
}

.cm-custom-type {
  color: #9CDCFE !important;
}

.cm-custom-marker {
  color: #DA7178 !important;
}

.cm-custom-parenthesis {
  color: #DBFFFF !important;
}

/* ============= Unused ============= */

/*.cm-s-dracula span.cm-variable-2 {
  color: #ff0000;
}

.cm-s-dracula span.cm-def {
  color: #00ff00;
}

.cm-s-dracula span.cm-meta {
  color: #f8f8f2;
}

.cm-s-dracula span.cm-tag {
  color: #ff79c6;
}

.cm-s-dracula span.cm-attribute {
  color: #50fa7b;
}

.cm-s-dracula span.cm-qualifier {
  color: #50fa7b;
}

.cm-s-dracula span.cm-property {
  color: #66d9ef;
}

.cm-s-dracula span.cm-builtin {
  color: #50fa7b;
}

.cm-s-dracula span.cm-type,.cm-s-dracula span.cm-variable-3 {
  color: #ffb86c;
}*/