@charset "UTF-8";

@font-face {
  font-family: Dalek;
  src: url(../fonts/dalek.ttf)
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3ig.ttf) format('truetype')
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v23/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQhM4.ttf) format('truetype')
}

:root {
  --bs-body-font-family: "Nunito";
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-text-color: #ffffff;
  --bs-text-color-hover: rgba(255, 255, 255, 0.5)
}

*,
::after,
::before {
  box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  letter-spacing: .0625em;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

ul {
  padding-left: 2rem
}

ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ul ul {
  margin-bottom: 0
}

b {
  font-weight: bolder
}

.small,
small {
  font-size: .875em
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  text-decoration: none
}

img {
  vertical-align: middle
}

button {
  border-radius: 0;
  text-transform: none;
}

button:focus:not(:focus-visible) {
  outline: 0
}

button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

[role=button] {
  cursor: pointer
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}

::-moz-focus-inner {
  padding: 0;
  border-style: none
}

textarea {
  resize: vertical
}

::-webkit-inner-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px
}

[hidden] {
  display: none !important
}

.img-fluid {
  max-width: 100%;
  height: auto
}

.container,
.container-fluid,
.container-lg,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {

  .container,
  .container-sm {
    max-width: 540px
  }
}

@media (min-width:768px) {

  .container,
  .container-sm {
    max-width: 720px
  }
}

@media (min-width:992px) {

  .container,
  .container-lg,
  .container-sm {
    max-width: 960px
  }
}

@media (min-width:1200px) {

  .container,
  .container-lg,
  .container-sm {
    max-width: 1140px
  }
}

@media (min-width:1400px) {

  .container,
  .container-lg,
  .container-sm {
    max-width: 1320px
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y)
}

.col {
  flex: 1 0 0%
}

.col-auto {
  flex: 0 0 auto;
  width: auto
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%
}

.col-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%
}

.col-6 {
  flex: 0 0 auto;
  width: 50%
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%
}

.col-12 {
  flex: 0 0 auto;
  width: 100%
}

@media (min-width:576px) {
  .col-sm {
    flex: 1 0 0%
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%
  }
}

@media (min-width:992px) {
  .col-lg {
    flex: 1 0 0%
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%
  }
}

.form-text {
  margin-top: .25rem;
  font-size: .875em;
  color: #6c757d
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .form-control {
    transition: none
  }
}

.form-control[type=file] {
  overflow: hidden
}

.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(30, 48, 243, .25)
}

.form-control::-webkit-date-and-time-value {
  height: 1.5em
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1
}

.form-control::file-selector-button {
  padding: .375rem .75rem;
  margin: -.375rem -.75rem;
  -webkit-margin-end: .75rem;
  margin-inline-end: .75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .form-control::file-selector-button {
    transition: none
  }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3
}

.form-control-sm {
  min-height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .25rem
}

.form-control-sm::file-selector-button {
  padding: .25rem .5rem;
  margin: -.25rem -.5rem;
  -webkit-margin-end: .5rem;
  margin-inline-end: .5rem
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .5rem
}

.form-control-lg::file-selector-button {
  padding: .5rem 1rem;
  margin: -.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem
}

textarea.form-control {
  min-height: calc(1.5em + .75rem + 2px)
}

textarea.form-control-sm {
  min-height: calc(1.5em + .5rem + 2px)
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px)
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
  border-radius: var(--bs-btn-border-radius);
  background-color: #a0743e;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none
  }
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #8c5e26;
}

.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: #8c5e26;
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn.disabled,
.btn:disabled {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  opacity: var(--bs-btn-disabled-opacity)
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-disabled-bg: #E5E5E5;
  --bs-btn-disabled-color: #ABABAB
}

.btn-link:focus-visible {
  color: var(--bs-btn-color)
}

.btn-link:hover {
  color: var(--bs-btn-hover-color)
}

.btn-group-lg>.btn,
.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem
}

.btn-group-sm>.btn,
.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem
}

.collapse:not(.show) {
  display: none
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle
}

.btn-group>.btn {
  position: relative;
  flex: 1 1 auto
}

.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
  z-index: 1
}

.btn-group {
  border-radius: .375rem
}

.btn-group>.btn-group:not(:first-child),
.btn-group>:not(.btn-check:first-child)+.btn {
  margin-left: -1px
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.nav {
  --bs-nav-link-padding-x: 2rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-hover-color: var(--bs-text-color-hover);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  margin-right: 1.5rem;
  font-size: 1.2em;
  font-weight: 200;
  color: var(--bs-navbar-color);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .nav-link {
    transition: none
  }
}

.nav-link:focus,
.nav-link:hover {
  color: var(--bs-text-color-hover)
}

.nav-link.disabled {
  pointer-events: none;
  cursor: default
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: white;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: var(--bs-text-color);
  --bs-navbar-brand-hover-color: var(--bs-text-color-hover);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x)
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-sm {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: #d5ab79;
  text-decoration: none;
  white-space: nowrap;
  font-family: Dalek;
  letter-spacing: .1em
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--bs-navbar-brand-hover-color)
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-hover-color: var(--bs-text-hover-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.navbar-text {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: var(--bs-navbar-color)
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center
}

@media (min-width:576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x)
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto
  }
}

@media (min-width:992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x)
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto
  }
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start
}

.navbar-expand .navbar-nav {
  flex-direction: row
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x)
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .page-link {
    transition: none
  }
}

.page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: var(--bs-pagination-hover-bg);
  border-color: var(--bs-pagination-hover-border-color)
}

.page-link:focus {
  z-index: 3;
  color: var(--bs-pagination-focus-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  box-shadow: var(--bs-pagination-focus-box-shadow)
}

.disabled>.page-link,
.page-link.disabled {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--bs-pagination-disabled-bg);
  border-color: var(--bs-pagination-disabled-border-color)
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px
}

.page-item:first-child .page-link {
  border-top-left-radius: var(--bs-pagination-border-radius);
  border-bottom-left-radius: var(--bs-pagination-border-radius)
}

.page-item:last-child .page-link {
  border-top-right-radius: var(--bs-pagination-border-radius);
  border-bottom-right-radius: var(--bs-pagination-border-radius)
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0)
  }

  50% {
    opacity: 1;
    transform: none
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: .2
  }
}

@keyframes placeholder-wave {
  100% {
    -webkit-mask-position: -200% 0;
    mask-position: -200% 0
  }
}

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(30, 48, 243, var(--bs-bg-opacity, 1)) !important
}

.text-bg-dark {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important
}

.link-primary {
  color: #1e30f3 !important
}

.link-primary:focus,
.link-primary:hover {
  color: #1826c2 !important
}

.link-dark {
  color: #212529 !important
}

.link-dark:focus,
.link-dark:hover {
  color: #1a1e21 !important
}

.align-top {
  vertical-align: top !important
}

.align-bottom {
  vertical-align: bottom !important
}

.align-text-bottom {
  vertical-align: text-bottom !important
}

.align-text-top {
  vertical-align: text-top !important
}

.d-flex {
  display: flex !important
}

.top-0 {
  top: 0 !important
}

.top-50 {
  top: 50% !important
}

.top-100 {
  top: 100% !important
}

.bottom-0 {
  bottom: 0 !important
}

.bottom-50 {
  bottom: 50% !important
}

.bottom-100 {
  bottom: 100% !important
}

.start-0 {
  left: 0 !important
}

.start-50 {
  left: 50% !important
}

.start-100 {
  left: 100% !important
}

.h-25 {
  height: 25% !important
}

.h-50 {
  height: 50% !important
}

.h-75 {
  height: 75% !important
}

.h-100 {
  height: 100% !important
}

.h-auto {
  height: auto !important
}

.flex-row {
  flex-direction: row !important
}

.flex-column {
  flex-direction: column !important
}

.flex-shrink-0 {
  flex-shrink: 0 !important
}

.flex-shrink-1 {
  flex-shrink: 1 !important
}

.justify-content-start {
  justify-content: flex-start !important
}

.justify-content-center {
  justify-content: center !important
}

.align-items-start {
  align-items: flex-start !important
}

.align-items-center {
  align-items: center !important
}

.align-content-start {
  align-content: flex-start !important
}

.align-content-center {
  align-content: center !important
}

.m-0 {
  margin: 0 !important
}

.m-1 {
  margin: .25rem !important
}

.m-2 {
  margin: .5rem !important
}

.m-3 {
  margin: 1rem !important
}

.m-4 {
  margin: 1.5rem !important
}

.m-5 {
  margin: 3rem !important
}

.m-auto {
  margin: auto !important
}

.me-0 {
  margin-right: 0 !important
}

.me-1 {
  margin-right: .25rem !important
}

.me-2 {
  margin-right: .5rem !important
}

.me-3 {
  margin-right: 1rem !important
}

.me-4 {
  margin-right: 1.5rem !important
}

.me-5 {
  margin-right: 3rem !important
}

.me-auto {
  margin-right: auto !important
}

.mb-0 {
  margin-bottom: 0 !important
}

.mb-1 {
  margin-bottom: .25rem !important
}

.mb-2 {
  margin-bottom: .5rem !important
}

.mb-3 {
  margin-bottom: 1rem !important
}

.mb-4 {
  margin-bottom: 1.5rem !important
}

.mb-5 {
  margin-bottom: 3rem !important
}

.mb-auto {
  margin-bottom: auto !important
}

.ms-0 {
  margin-left: 0 !important
}

.ms-1 {
  margin-left: .25rem !important
}

.ms-2 {
  margin-left: .5rem !important
}

.ms-3 {
  margin-left: 1rem !important
}

.ms-4 {
  margin-left: 1.5rem !important
}

.ms-5 {
  margin-left: 3rem !important
}

.ms-auto {
  margin-left: auto !important
}

.p-0 {
  padding: 0 !important
}

.p-1 {
  padding: .25rem !important
}

.p-2 {
  padding: .5rem !important
}

.p-3 {
  padding: 1rem !important
}

.p-4 {
  padding: 1.5rem !important
}

.p-5 {
  padding: 3rem !important
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.px-1 {
  padding-right: .25rem !important;
  padding-left: .25rem !important
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important
}

.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important
}

.fs-2 {
  font-size: calc(1.325rem + .9vw) !important
}

.fs-3 {
  font-size: calc(1.3rem + .6vw) !important
}

.fs-4 {
  font-size: calc(1.275rem + .3vw) !important
}

.fs-5 {
  font-size: 1.25rem !important
}

.fs-6 {
  font-size: 1rem !important
}

.fw-bolder {
  font-weight: bolder !important
}

.text-start {
  text-align: left !important
}

.text-center {
  text-align: center !important
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important
}

.text-white {
  color: #fff
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, .5) !important
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.rounded {
  border-radius: var(--bs-border-radius) !important
}

.rounded-0 {
  border-radius: 0 !important
}

.rounded-1 {
  border-radius: var(--bs-border-radius-sm) !important
}

.rounded-2 {
  border-radius: var(--bs-border-radius) !important
}

.rounded-3 {
  border-radius: var(--bs-border-radius-lg) !important
}

.rounded-4 {
  border-radius: var(--bs-border-radius-xl) !important
}

.rounded-5 {
  border-radius: var(--bs-border-radius-2xl) !important
}

.rounded-circle {
  border-radius: 50% !important;
  background-color: rgb(0, 0, 0, .2)
}

.rounded-top {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important
}

.rounded-bottom {
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important
}

.rounded-start {
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-top-left-radius: var(--bs-border-radius) !important
}

.visible {
  visibility: visible !important
}

@media (min-width:576px) {
  .d-sm-flex {
    display: flex !important
  }

  .flex-sm-row {
    flex-direction: row !important
  }

  .flex-sm-column {
    flex-direction: column !important
  }

  .flex-sm-shrink-0 {
    flex-shrink: 0 !important
  }

  .flex-sm-shrink-1 {
    flex-shrink: 1 !important
  }

  .justify-content-sm-start {
    justify-content: flex-start !important
  }

  .justify-content-sm-center {
    justify-content: center !important
  }

  .align-items-sm-start {
    align-items: flex-start !important
  }

  .align-items-sm-center {
    align-items: center !important
  }

  .align-content-sm-start {
    align-content: flex-start !important
  }

  .align-content-sm-center {
    align-content: center !important
  }

  .m-sm-0 {
    margin: 0 !important
  }

  .m-sm-1 {
    margin: .25rem !important
  }

  .m-sm-2 {
    margin: .5rem !important
  }

  .m-sm-3 {
    margin: 1rem !important
  }

  .m-sm-4 {
    margin: 1.5rem !important
  }

  .m-sm-5 {
    margin: 3rem !important
  }

  .m-sm-auto {
    margin: auto !important
  }

  .me-sm-0 {
    margin-right: 0 !important
  }

  .me-sm-1 {
    margin-right: .25rem !important
  }

  .me-sm-2 {
    margin-right: .5rem !important
  }

  .me-sm-3 {
    margin-right: 1rem !important
  }

  .me-sm-4 {
    margin-right: 1.5rem !important
  }

  .me-sm-5 {
    margin-right: 3rem !important
  }

  .me-sm-auto {
    margin-right: auto !important
  }

  .mb-sm-0 {
    margin-bottom: 0 !important
  }

  .mb-sm-1 {
    margin-bottom: .25rem !important
  }

  .mb-sm-2 {
    margin-bottom: .5rem !important
  }

  .mb-sm-3 {
    margin-bottom: 1rem !important
  }

  .mb-sm-4 {
    margin-bottom: 1.5rem !important
  }

  .mb-sm-5 {
    margin-bottom: 3rem !important
  }

  .mb-sm-auto {
    margin-bottom: auto !important
  }

  .ms-sm-0 {
    margin-left: 0 !important
  }

  .ms-sm-1 {
    margin-left: .25rem !important
  }

  .ms-sm-2 {
    margin-left: .5rem !important
  }

  .ms-sm-3 {
    margin-left: 1rem !important
  }

  .ms-sm-4 {
    margin-left: 1.5rem !important
  }

  .ms-sm-5 {
    margin-left: 3rem !important
  }

  .ms-sm-auto {
    margin-left: auto !important
  }

  .p-sm-0 {
    padding: 0 !important
  }

  .p-sm-1 {
    padding: .25rem !important
  }

  .p-sm-2 {
    padding: .5rem !important
  }

  .p-sm-3 {
    padding: 1rem !important
  }

  .p-sm-4 {
    padding: 1.5rem !important
  }

  .p-sm-5 {
    padding: 3rem !important
  }

  .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
  }

  .px-sm-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
  }

  .px-sm-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
  }

  .px-sm-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
  }

  .px-sm-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
  }

  .px-sm-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
  }

  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .py-sm-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
  }

  .py-sm-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
  }

  .py-sm-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
  }

  .py-sm-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
  }

  .py-sm-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
  }

  .text-sm-start {
    text-align: left !important
  }

  .text-sm-center {
    text-align: center !important
  }
}

@media (min-width:992px) {
  .d-lg-flex {
    display: flex !important
  }

  .flex-lg-row {
    flex-direction: row !important
  }

  .flex-lg-column {
    flex-direction: column !important
  }

  .flex-lg-shrink-0 {
    flex-shrink: 0 !important
  }

  .flex-lg-shrink-1 {
    flex-shrink: 1 !important
  }

  .justify-content-lg-start {
    justify-content: flex-start !important
  }

  .justify-content-lg-center {
    justify-content: center !important
  }

  .align-items-lg-start {
    align-items: flex-start !important
  }

  .align-items-lg-center {
    align-items: center !important
  }

  .align-content-lg-start {
    align-content: flex-start !important
  }

  .align-content-lg-center {
    align-content: center !important
  }

  .m-lg-0 {
    margin: 0 !important
  }

  .m-lg-1 {
    margin: .25rem !important
  }

  .m-lg-2 {
    margin: .5rem !important
  }

  .m-lg-3 {
    margin: 1rem !important
  }

  .m-lg-4 {
    margin: 1.5rem !important
  }

  .m-lg-5 {
    margin: 3rem !important
  }

  .m-lg-auto {
    margin: auto !important
  }

  .me-lg-0 {
    margin-right: 0 !important
  }

  .me-lg-1 {
    margin-right: .25rem !important
  }

  .me-lg-2 {
    margin-right: .5rem !important
  }

  .me-lg-3 {
    margin-right: 1rem !important
  }

  .me-lg-4 {
    margin-right: 1.5rem !important
  }

  .me-lg-5 {
    margin-right: 3rem !important
  }

  .me-lg-auto {
    margin-right: auto !important
  }

  .mb-lg-0 {
    margin-bottom: 0 !important
  }

  .mb-lg-1 {
    margin-bottom: .25rem !important
  }

  .mb-lg-2 {
    margin-bottom: .5rem !important
  }

  .mb-lg-3 {
    margin-bottom: 1rem !important
  }

  .mb-lg-4 {
    margin-bottom: 1.5rem !important
  }

  .mb-lg-5 {
    margin-bottom: 3rem !important
  }

  .mb-lg-auto {
    margin-bottom: auto !important
  }

  .ms-lg-0 {
    margin-left: 0 !important
  }

  .ms-lg-1 {
    margin-left: .25rem !important
  }

  .ms-lg-2 {
    margin-left: .5rem !important
  }

  .ms-lg-3 {
    margin-left: 1rem !important
  }

  .ms-lg-4 {
    margin-left: 1.5rem !important
  }

  .ms-lg-5 {
    margin-left: 3rem !important
  }

  .ms-lg-auto {
    margin-left: auto !important
  }

  .p-lg-0 {
    padding: 0 !important
  }

  .p-lg-1 {
    padding: .25rem !important
  }

  .p-lg-2 {
    padding: .5rem !important
  }

  .p-lg-3 {
    padding: 1rem !important
  }

  .p-lg-4 {
    padding: 1.5rem !important
  }

  .p-lg-5 {
    padding: 3rem !important
  }

  .px-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
  }

  .px-lg-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
  }

  .px-lg-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
  }

  .px-lg-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
  }

  .px-lg-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
  }

  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
  }

  .py-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .py-lg-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
  }

  .py-lg-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
  }

  .py-lg-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
  }

  .py-lg-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
  }

  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
  }

  .text-lg-start {
    text-align: left !important
  }

  .text-lg-center {
    text-align: center !important
  }
}

@media (min-width:1200px) {
  .fs-1 {
    font-size: 2.5rem !important
  }

  .fs-2 {
    font-size: 2rem !important
  }

  .fs-3 {
    font-size: 1.75rem !important
  }

  .fs-4 {
    font-size: 1.5rem !important
  }
}

body,
html {
  height: 100%
}

.rounded-4 {
  border-radius: 1rem !important
}

.reference-section {
  font-size: 1.4em;
  margin-top: 2em;
  border-bottom: 1px solid rgb(255, 255, 255, .2);
  width: 100%;
  padding-bottom: 0.5em;
}

.reference-title {
  font-size: 1.1em;
  margin-top: 2em;
}

.versions-title {
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(255, 255, 255, .2);
  width: 100%;
  padding-bottom: 0.5em;
}

.start-title {
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(255, 255, 255, .2);
  width: 100%;
  padding-bottom: 0.5em;
}

.changelog-list {
  color: white;
}

.contribute-list {
  color: white;
}

.custom-link {
  color: #7eb1eb;
}

.tagged {
  color: #d5ab79;
}

.page-background {
  background-color: #1a2c44
}

.home-title {
  font-family: Dalek;
  color: #d5ab79;
  font-size: 7em;
  letter-spacing: .1em;
}

.selected-menu {
  color: #d5ab79;
}

.reference-text {
  color: rgba(255, 255, 255, .5);
  font-size: 1em;
}

.justified-text {
  text-align: justify;
}

.table-of-contents,
a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.table-of-contents>li>a:hover {
  color: rgba(255, 255, 255, .5);
}

.code-sample {
  background-color: #1e1e1e;
  padding: .3rem 0.5rem .1rem 0.5rem;
  font-family: 'Source Code Pro';
  border-radius: 0.3rem;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.table {
  background-color: #e1e1e1;
  width: 100%;
}