html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.navbar-container {
  background-color: #2a2a2a;
}

.navbar-icon {
  color: #f0f0f0;
}

.navbar-title {
  color: #f0f0f0;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #2a2a2a;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  color: red;
}

.CodeMirror {
  height: auto;
}

.cm-s-dracula .CodeMirror-gutters,
.cm-s-dracula.CodeMirror {
  background-color: #202020 !important;
}

.CodeMirror-gutters {
  padding-right: 15px;
}

.console {
  width: 100%;
  height: 100%;
  background-color: #202020;
}